input[type = "text"], input[type = "password"],  .my-input-field {
  display: block;
  width: auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding-left: 10px;
}

textarea.form-control {
  height: auto;
}

p {
  margin: 0 0 5px;
  font-size: 15px;
}

input[type = "submit"], input[type = "text"], textarea {
  border-radius: 10px;
}

input[type = "submit"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.my-problem-description {
  margin: 0 0 0px;
  font-size: 17px;
}

.my-problem-choice {
  margin: 0 0 5px;
  font-size: 15px;
}

input[type = "checkbox"], input[type = "radio"] {
  margin-right: 5px;
}

body {
}

.navbar {
  opacity: 50;
}

.my-floating-box {
  width:40px;
  height:100px;
  position: fixed;
  left: 5%;
  top: 40px;
  z-index: 999;
}

div#my-container-content {
  width: 960px;
	margin: 0 auto;
	padding-bottom: 60px;
}

form#my-show-problem-form {
  background-color: white;
  border-color: white;
  border: 50px solid transparent;
  border-radius: 50px;
}

div#my-footer {
  position: relative;
  margin-top: -60px;/*等于footer的高度*/
  height: 60px;
  clear:both;
  width: 100%;
}

table#my-show-table {
  
}

th, td {
  text-align: center;
}

div#my-index-jumbotron p {
  font-size: 15px;
  margin: 0 0 0 0px;
}

div#my-rightclick-menu {
  position: fixed;
  height: auto;
  width: auto;
}
div#my-rightclick-menu ul {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid gray;
}

div#my-rightclick-menu li {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

ul#my-rightclick-list li button {
  width: 100%;
  border: none;
}
