{% extends "mainpage.html" %}

{% block someerrors %}
  {% if form.errors %}
    <div>
      <p>有点错误：</p>
      {{wtf.form_errors(form, hiddens = "False")}}
    </div>
    <hr/>
  {% endif %}
{% endblock %}

{% block content %}
  <p>Already have a account? <a href = "{{url_for('loginpages.login')}}"> Login </a></p>
  <form action = "" method = "post" name = "login">
    {{form.hidden_tag()}}
    <p><strong>请输入用户名：</strong></p><br/>
    {{form.username(size = 16, placeholder = "username")}}
    <hr/>
    <p><strong>请输入密码：</strong></p><br/>
    {{form.password(size = 16, placeholder = "password")}}<br/>
    <hr/>
    <p><strong>请再次输入密码：</strong></p><br/>
    {{form.confirm(size = 16, placeholder = "repeat your password")}}<br/>
    <hr/>
    <p><strong>请输入邮箱地址：</strong></p><br/>
    {{form.email(size = 16, placeholder = "email address")}}<br/>
    <hr/>
    {{ form.submit }}
  </form>
{% endblock %}