{% extends "mainpage.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block someerrors %}
  {% if form.errors %}
    <div>
      <p>有点错误：</p>
      {{wtf.form_errors(form, hiddens = "False")}}
    </div>
    <hr/>
  {% endif %}
{% endblock %}

{% block content %}
  <div class = "container">
    <div class = "row">
      <div class = "col-lg-6 pull-left">
        <h2>最近题目及上传者：</h2><br/>
        {% for doc in listOfRecentDocument %}
          <p><a href = "{{url_for('processProblems.show', did = doc.id)}}">{{doc.title|safe}}</a> —— {{doc.author.username|safe}}</p><br/>
        {% endfor %}
      </div>
      <div class = "col-lg-6 pull-right" align = "middle">
        <h1>搜索</h1><br/>
        <div class = "form-group">
          <form action = "{{ url_for('processProblems.search') }}" 
                method = "post" name = "login">
            {{ form.hidden_tag() }}
            <p>科目： {{ form.subject(class = "my-input-field")|safe }} </p> <br/>
            <p>文件名称关键字：<br/>{{ form.filename(class = "my-input-field", placeholder = "不填将显示所有题目")|safe }}</p><br/>
            <p>时间段：<br/>{{ form.timeDelta(class = "my-input-field")|safe }}</p><br/>
            <!--<button type = "submit" class="btn btn-default">{{ form.submit(value = "我选好了") }}</button>
            {{ form.submit(value = "我选好了") }}-->
            {{ wtf.form_field(form.submit, value = "开始查找")|safe }}<br/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}