{% extends "mainpage.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block someerrors %}
  {% if form.errors %}
    <div>
      <p>有点错误：</p>
      {{wtf.form_errors(form, hiddens = "False")}}
    </div>
    <hr/>
  {% endif %}
{% endblock %}

{% block content %}
  <div class = "container">
    <div class = "row">
      <div class = "col-lg-6 pull-left">
        <h2>最新题目：</h2><br/>
        <table id = "my-show-table">
          <tr>
            <th width = "50%"><h4>试卷名</h4></th>
            <th width = "30%"><h4>上传者</h4></th>
            <th width = "20%"><h4>使用次数</h4></th>
          </tr>
          
          {% for doc in listOfRecentDocument %}
            <tr>
              <td>
                <a href = "{{url_for('processProblems.show', did = doc.id)}}">{{doc.title|safe}}</a>
              </td>
              <td>
                <p>{{doc.author.username|safe}}（{% if not doc.author.isAdmin %}非{% endif %}管理员）</p>
              </td>
              <td>
                <p>{{doc.countUsed|safe}}</p>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class = "col-lg-6 pull-right" align = "middle">
        <h1>搜索</h1><br/>
        <div class = "form-group">
          <form action = "{{ url_for('processProblems.search') }}" 
                method = "post" name = "login">
            {{ form.hidden_tag() }}
            <p>科目： {{ form.subject(class = "my-input-field")|safe }} </p> <br/>
            <p>文件名称关键字：<br/>{{ form.filename(class = "my-input-field", placeholder = "不填将显示所有题目")|safe }}</p><br/>
            <p>时间段：<br/>{{ form.timeDelta(class = "my-input-field")|safe }}</p><br/>
            <!--<button type = "submit" class="btn btn-default">{{ form.submit(value = "我选好了") }}</button>
            {{ form.submit(value = "我选好了") }}-->
            {{ wtf.form_field(form.submit, value = "开始查找")|safe }}<br/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}