{% extends "mainpage.html" %}

{% block content %}
  <div id = "my-search-result" class = "container">
    {% if result|length > 0 %}
      <p>搜索结果如下:</p>
        <table>
          <tr>
            <td><h3>试卷名</h3></td>
            <td><h3>上传者</h3></td>
            <td><h3>使用次数</h3></td>
          </tr>
          
          {% for x in result %}
            <tr>
              <td>
                <a href = "{{url_for('processProblems.show', did = x.id)}}">{{x.title|safe}}</a>
              </td>
              <td>
                <p>{{x.author.username|safe}}（{% if not x.author.isAdmin %}非{% endif %}管理员）</p>
              </td>
              <td>
                <p>{{x.countUsed|safe}}</p>
              </td>
            </tr>
          {% endfor %}
        </table>
        <p>共{{ result|length|safe }}个结果。</p><br/>
        <p>找不到？按<a href = "{{url_for('processProblems.search')}}">这里</a>返回调整查找参数。</p><br/>
    {% else %}
      <p>没有匹配结果。</p>
      <p>点击<a href = "{{url_for('processProblems.search')}}">这里</a>返回</p>
    {% endif %}
  </div>
{% endblock %}