{% extends "mainpage.html" %}

{% block someerrors %}
  {% for eachpro in papers.pro %}
    {% if eachpro.errors %}
    <div>
      <p>Problem {{eachpro.index}} has some wrongs :</p>
      <ul>
        {% for error in eachpro.errors %}
          <li> {{error}} </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block html_attribs %}
  style = "padding-bottom: 70px;"
{% endblock %}

{% block otherNavbar %}
  <div class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
      <div class = "navbar-inner">
        <div class = "navbar-left">
          <button id = "my-button-toTop" type = "button" class = "btn btn-default">飞到顶部</button>
          <button id = "my-button-toBottom" type = "button" class = "btn btn-default">飞到底部</button>
        </div>
        <div class = "navbar-right">
          <button id = "my-button-hide-correct" type = "button" class = "btn btn-default">隐藏正确题目</button>
          <button id = "my-button-submit-my-problem-form" class = "btn btn-default">提交试卷</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="page-header" align = "center" style="padding-top:70px;"><h1>{{ papers.title|safe }}</h1></div><br/>
  <form id = "my-show-problem-form" method = "POST" action = "{{ url_for('processProblems.show', did = index) }}">
    {{papers.hidden_tag()}}
    
    <div class = "form-controls">
      <ol type = 1 start = 1>
        {% for eachpro in papers.pro %}
          <li style = "display: {% if eachpro.check == 2 and papers.hideCorrectProblem.data %} none {% endif %};" {% if eachpro.check == 2 %} canHide = "true" {% endif %}>
            <p class = "my-problem-description">{{eachpro.description|safe}}</p><br/>
            {% for x in eachpro.choices %}
              <p class = "my-problem-choice">{% if eachpro.singleSelect == True %}{{ x.option(type = 'radio')|safe }}{% else %}{{ x.option|safe }}{% endif %}{{ x.description|safe }}</p><br/>
            {% endfor %}
            {% if eachpro.check == 1 %}
              <span class = "label label-danger">{{ eachpro.message|safe }}</span><br/>
            {% elif eachpro.check == 2 %}
              <span class = "label label-success">{{ eachpro.message|safe }}</span><br/>
            {% endif %}
          </li><br/>
        {% endfor %}
      </ol>
    
    </div>
    <p>{{ papers.hideCorrectProblem(id = "my-hide-correct-checkbox") }} 隐藏正确题目，剩下错误和未做的题目。按右下部的按钮也一样。</p>
  </form>
{% endblock %}
