{% block doc -%}
  <!DOCTYPE html>
  <html{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
    <head>
      {%- block head %}
        <title>
          {% if title %}
            {{title}}
          {% else %}
            MyApplication
          {% endif %}
        </title>

        {%- block metas %}
          <meta http-equiv="X-UA-Compatible" content="IE=9" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
          <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8"/>
          <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        {%- endblock metas %}
        
        {%- block styles %}
          <!-- Bootstrap -->
          <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet" media="screen">
          <link href = "{{url_for('static', filename = 'css/myCSS.css')}}" rel = "stylesheet" media = "screen">
        {%- endblock styles %}
        
        {% block javascripts %}
          <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
          <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
          <script type = "text/javascript" src = "{{url_for('static', filename = 'js/myJS.js')}}"></script>
        {% endblock javascripts%}

      {%- endblock head %}
    </head>
    <body {% block body_attribs %}{% endblock body_attribs %}>
      <a name = "my-top"></a>
      {% block body -%}
        {% set authenticated = ('user' in session and session['user'] == current_user.id) %}
        <div class = "container">
          <div id = "my-navbar" class = "navbar navbar-static-top">
            <div class = "navbar-inner">
              <span class = "navbar-header" style = "font-size:20px">你好，{%if current_user.username %}{{current_user.username}}{% else %}游客{% endif %} !</span>
              <ul class = "nav nav-tabs">
                <li>
                  <a href = "{{ url_for('frontend.index') }}">首页</a>
                </li>
                {% if authenticated == True %}
                  <li class = "dropdown">
                    <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                      用户
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href = "{{ url_for('loginpages.logout')}}">登出</a>
                      </li>
                      <li>
                        <a href = "{{ url_for('frontend.details') }}">个人信息</a>
                      </li>
                      <li>
                        <a href = "{{ url_for('frontend.changeUserDetails') }}">修改信息</a>
                      </li>
                    </ul>
                  </li>
                  {% if current_user.isAdmin and current_user.isAdmin == True %}
                    <li>
                      <a href = "{{ url_for('processProblems.upload') }}">上传题目</a>
                    </li>
                    <li>
                      <a href = "{{ url_for('admin.index') }}">管理</a>
                    </li>
                  {% endif %}
                {% else %}
                  <li>
                    <a href = "{{ url_for('loginpages.login') }}">登入</a>
                  </li>
                  <li>
                    <a href = "{{ url_for('registerpages.register') }}">注册</a>
                  </li>
                {% endif %}
                {% if not (authenticated == True and current_user.isAdmin and current_user.isAdmin == True) %}
                  <li>
                    <a href = "{{ url_for('processProblems.upload') }}">处理题目</a>
                  </li>
                {% endif %}
                <li class = "pull-right">
                  <a href = "{{ url_for('processProblems.search') }}">高级搜索</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        {% block otherNavbar %}
        {% endblock otherNavbar %}
        
        <div class = "container" style = "">
          {% include 'flashMessage.html' %}
          
          {% block someerrors %}
          {% endblock %}
          
          {% block content -%}
          {%- endblock content %}
        </div>
      {%- endblock body %}
    </body>
  {%- endblock html %}
  </html>
{% endblock doc -%}
