<!doctype html>
<html>
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
    <title>
      {% if title %}
        {{title}}
      {% else %}
        MyApplication
      {% endif %}
    </title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% set authenticated = ('user' in session and session['user'] == current_user.username) %}
    <div>
      <a href = "{{url_for('frontend.index')}}"> Home </a>
      {% if authenticated == True %}
      <a href = "{{url_for('loginpages.logout')}}"> | Logout </a>
      {% else %}
      <a href="{{ url_for('loginpages.login') }}">| Login </a>
      {% endif %}
      <a href = "{{url_for('registerpages.register')}}"> | Register </a>
    </div>
    <p> Hello {{current_user.username}} ! </p> <br/>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <hr/>
      <ul class=flashes>
        {% for message in messages %}
        <li> {{ message }}  </li>
        {% endfor %}
      </ul>
      <hr/>
      {% endif %}
    {% endwith %}
    {% block someerrors %}
    {% endblock %}
    {% block body %}
    {% endblock %}
  </body>
</html>