<!doctype html>
<html>
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=gb2312">
    <title>My Application</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <hr>
    {% set authenticated = ('user' in session and session['user'] == g.user.username) %}
    <div>
      <a href = "{{url_for('frontend.index')}}"> Home </a>
      {% if authenticated == True %}
      <a href = "{{url_for('loginpages.logout')}}"> | Logout </a>
      {% else %}
      <a href="{{ url_for('loginpages.login') }}">| Login </a>
      {% endif %}
      <a href = "{{url_for('registerpages.register')}}"> | Register </a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
      <li> {{ message }}  </li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>