{% extends "mainpage.html" %}

{% block content %}
  {{ super() }}
  {% set authenticated = ('user' in session and session['user'] == current_user.id) %}
  <!--{% if authenticated == False %}
    <p><a href="{{ url_for('loginpages.login') }}">登入</a>。</p><br/>
  {% else %}
    <h1>Hi {{current_user.username}}</h1>
    <p><a href="{{url_for('frontend.details')}}">显示</a>我已上传题目。</p><br/>
    <p><a href = "{{url_for('uploadpages.upload')}}">上传</a>题目。</p><br/>
    <p><a href = "{{ url_for('frontend.changeUserDetails') }}">更改</a>用户信息。</p><br/>
  {% endif %}-->
  <div class = "jumbotron">
    <h1>开始<a href = "{{url_for('viewproblems.search')}}">刷题</a>。</h1><br/>
    <p>这是一个能够处理题目，使其变成我们容易刷题的形式的网站。</p>
  </div>
{% endblock %}
