{% extends "mainpage.html" %}

{% block someerrors %}
  {% for eachpro in papers.pro %}
    {% if eachpro.errors %}
    <div>
      <p>Problem {{eachpro.index}} has some wrongs :</p>
      <ul>
        {% for error in eachpro.errors %}
          <li> {{error}} </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content %}
  <form method = "POST" action = "{{ url_for('viewproblems.show', did = index) }}" name = "brushing">
    {{papers.hidden_tag()}}
    <ol>
      {% for eachpro in papers.pro %}
        {% if not (papers.hideCorrectProblem.data and eachpro.check == 2) %}
          <li>
            {{eachpro.description}}<br/>
            {% for x in eachpro.choices %}
              <p>{{ x.option }}{{ x.description }}</p>
            {% endfor %}
          </li>
          {% if eachpro.check == 1 %}
            <span style="color: red;">{{ eachpro.message }}</span>
          {% elif eachpro.check == 2 %}
            <span style="color: green;">{{ eachpro.message }}</span>
          {% endif %}
        {% else %}
          <div style = "display:none;">
          {% for x in eachpro.choices %}
            {{ x.option(hidden = "hidden") }}
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </ol>
    <p>{{ papers.hideCorrectProblem }} 隐藏正确题目，剩下错误和未做的题目。</p>
    {{ papers.submit(value = "交卷") }}
  </form>
{% endblock %}