{% extends "mainpage.html" %}

{% block someerrors %}
  {% for eachpro in papers.pro %}
    {% if eachpro.errors %}
    <div>
      <p>Problem {{eachpro.index}} has some wrongs :</p>
      <ul>
        {% for error in eachpro.errors %}
          <li> {{error}} </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="page-header" align = "center"><h1>{{ papers.title }}</h1></div><br/>
  <form method = "POST" action = "{{ url_for('viewproblems.show', did = index) }}" name = "brushing">
    {{papers.hidden_tag()}}
    <ol>
      {% for eachpro in papers.pro %}
        {% if not (papers.hideCorrectProblem.data and eachpro.check == 2) %}
          <div>
            <li>
              <p class = "my-problem-description">{{eachpro.description|safe}}</p><br/>
              {% for x in eachpro.choices %}
                <p class = "my-problem-choice">{{ x.option|safe }}{{ x.description|safe }}</p><br/>
              {% endfor %}
            </li><br/>
            {% if eachpro.check == 1 %}
              <span class = "label label-danger">{{ eachpro.message|safe }}</span>
            {% elif eachpro.check == 2 %}
              <span class = "label label-success">{{ eachpro.message|safe }}</span>
            {% endif %}
          </div>
        {% else %}
          <div class = "invisible">
          {% for x in eachpro.choices %}
            {{ x.option(hidden = "hidden")|safe }}
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </ol>
    <p>{{ papers.hideCorrectProblem }} 隐藏正确题目，剩下错误和未做的题目。</p>
    {{ papers.submit(value = "交卷") }}
  </form>
{% endblock %}