{% extends "mainpage.html" %}

{% block content %}
  {% if result|length > 0 %}
    <ul>
      <p>搜索结果如下:</p>
      <div>
        {% for x in result %}
          <li> <a href = "{{url_for('viewproblems.show', did = x[0])}}">{{x[1]}}</a> </li>
        {% endfor %}
      </div>
      <p>共{{ result|length }}个结果。</p>
      <p>找不到？按<a href = "{{url_for('viewproblems.search')}}">这里</a>返回调整查找参数。</p>
    </ul>
    {% else %}
    <p>没有匹配结果。</p>
    <p>点击<a href = "{{url_for('viewproblems.search')}}">这里</a>返回</p>
  {% endif %}
{% endblock %}