{% extends "mainpage.html" %}

{% block error %}
  {% for eachpro in papers.pro %}
    {% if eachpro.errors %}
    <div>
      <p>Problem {{eachpro.index}} has some wrongs :</p>
      <ul>
        {% for error in eachpro.errors %}
          <li> {{error}} </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block body %}
  <form method = "POST" action = "viewproblems.show" name = "brushing">
    <ol>
      {% for eachpro in papers.pro %}
        <li>
          {{eachpro.description}}
          {{eachpro.choice}}
        </li>
        {% if eachpro.check == 1 %}
          <span style="color: red;">{{eachpro.message}}</span>
        {% else %}
          <span style="color: green;">{{eachpro.message}}</span>
        {% endif %}
      {% endfor %}
    </ol>
    {{papers.submit(value = "交卷")}}
  </form>
{% endblock %}