{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
  <div class = "container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ url_for('frontend.index') }}">microblog</a>
        <ul class="nav">
          <li><a href="{{ url_for('frontend.index') }}">Home</a></li>
          {% if authenticated == True %}
            <li><a href="{{url_for('frontend.details')}}">Your Profile</a></li>
            <li><a href = "{{url_for('loginpages.logout')}}">Logout</a><li>
          {% else %}
            <a href="{{ url_for('loginpages.login') }}">Login</a>
          {% endif %}
        </ul>
        <div class="nav-collapse collapse">
          <p>Here is nav-collapse collapse</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <p>Didn't have a account ? <a href = "{{url_for('registerpages.register')}}"> Register </a></p>
  <h1>Sign In</h1>
  <form class = "form form-horizontal" action = "" method = "post" name = "login">
    {{ form.hidden_tag() }}
    <strong>Enter your username:</strong><br>
    {{form.username(size = 16, placeholder = "username")}}
    <hr/>
    <strong>Enter your password:</strong><br>
    {{form.password(size = 16, placeholder = "password")}}<br>
    <p>I am not good</p>
    <hr/>
    
    {{wtf.form_errors(form, hiddens = 'False')}}
    <div>{{wtf.form_field(form.remember_me)}} Remember Me</div>
    <hr/>
    {{ form.submit }}
  </form>
{% endblock %}