{% extends "mainpage.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block someerrors %}
  {% if form.errors %}
    <div>
      <p>有点错误：</p>
      {{wtf.form_errors(form, hiddens = "False")}}
    </div>
    <hr/>
  {% endif %}
{% endblock %}

{% block content %}
  <h1>登入</h1><br/>
  <p>还没有帐号？<a href = "{{url_for('registerpages.register')}}">注册</a>一个。</p>
  <form class = "form form-horizontal" action = "" method = "post" name = "login">
    {{ form.hidden_tag() }}
    <p><strong>请输入用户名：</strong></p><br/>
    {{form.username(size = 16, placeholder = "用户名")|safe}}
    <hr/>
    <p><strong>请输入密码：</strong></p><br/>
    {{form.password(size = 16, placeholder = "password")|safe}}<br/>
    <hr/>
    
    <p>{{form.remember_me|safe}}&nbsp;记住我</p><br/>
    <hr/>
    {{ form.submit }}
  </form>
{% endblock %}